

{% extends "adminlayout.html" %}

{% block main %}

<table class="table table-bordered table-dark">
	<thead>
	</thead><thead>
		<tr>
			<th>Club</th>
			<th>Managed By</th>
			<th>Name</th>
			<th>Mobile Number</th>
			<th>Email Address</th>
		</tr>
	</thead>
	<tbody>
		<form action="/admin/clubs" method="POST">
			<tr>
				<td><input type="text" class="form-control" id="newclub" name="newclub" placeholder="New Club"></td>
				<td>
					<select name="manager" id="manager">
						{% for mis, first_name, last_name in people %}
						<option value="{{ mis }}">{{ mis }} {{ first_name }} {{ last_name }}</option>
						{% endfor %}
					</select>
				</td>
				<td></td>
				<td></td>
				<td></td>
				<td><button type="submit" class="btn-primary" id="add", name="add">Add</button></td>
			</tr>
		</form>


		{% for club_id, clubname, manager, manager_name, manager_last, manager_phoneno, manager_email in clubs %}

		<tr>
			<td>{{ clubname }}</td>
			<td>{{ manager }}</td>
			<td>{{ manager_name }} {{ manager_last }}</td>
			<td>{{ manager_phoneno }}</td>
			<td>{{ manager_email }}</td>
			<td>
				<form action="/admin/clubs" method="POST">
					<button type="submit" class="btn-primary" id="remove" name="remove" value="{{ club_id }}">
						Kick!
					</button>
				</form>
			</td>
		</tr>

		{% endfor %}

	</tbody>

</table>
{% if error %}
<p>
{{ error }}
</p>
{% endif %}
{% endblock %}
