

{% extends "userlayout.html" %}

{% block user %}
	{{ me }}
{% endblock %}

{% block main %}

{% if clubs | length != 0 %}
<table class="table table-bordered table-dark">
	<thead>
	</thead><thead>
		<tr>
			<th>#</th>
			<th>Club</th>
			<th>Manage</th>
		</tr>
	</thead>
	<tbody>

		{% for club_id, clubname in clubs %}

		<tr>
			<td>{{ loop.index }}</td>
			<td>{{ clubname }}</td>
			<td>
				<form action="/user/managethisclub", method="POST">
					<button type="submit" class="btn-primary" name="whichclub" id="whichclub" value="{{ club_id }}">
						Manage
					</button>
				</form>
			</td>
		</tr>

		{% endfor %}

	</tbody>

</table>
{% else %}
<h4>
	You are not the manager of any club. <br>
	DON'T PANIC- just start a new one ;)
</h4>
{% endif %}
	<p>
	{{ error }}
	</p>
{% endblock %}
