

{% extends "adminlayout.html" %}

{% block main %}

<table class="table table-bordered table-dark">
	<thead>
		<tr>
			<th>Place</th>
			<th>Store?</th>
			<th>Change</th>
			<th>Keys</th>
			<th>Delete</th>
		</tr>
	</thead>
	<tbody>
		<form action="/admin/places" method="POST">
			<tr>
				<td><input type="text" class="form-control" id="newplace" name="newplace" placeholder="New Place"></td>
				<td><input type="checkbox" class="form-control" id="isstorage" name = "isstorage"></td>
				<td></td>
				<td></td>
				<td><button type="submit" name="add" id="add" class="btn-primary">Add</button></td>
			</tr>
		</form>


		{% for place_id, placename, store in places %}

		<tr>
			<td>{{ placename }}</td>
			<td>
				{% if store %}
				Yes
				{% else %}
				No
				{% endif %}
				<td>
					<form action="/admin/places" method="POST">
						<button type="submit" name="change_store" id = "change_store" class="btn-primary" value="{{ place_id }}">Change
						</button>
					</form>
				</td>
			</td>
			<form action="/admin/placekeys", method="POST">
				<td>
					<button type="submit" class="btn-primary" name="keys" id="keys" value="{{ place_id }}">Keys</button>
				</td>
			</form>
			<form action="/admin/places", method="POST">
				<td>
					<button type="submit" class="btn-primary" name="close" id="close" value="{{ place_id }}">Close Down</button>
				</td>
			</form>

		</tr>

		{% endfor %}

	</tbody>
</table>
{% endblock %}
