{% extends "layout.html" %}

{% block main %}
<div class="container">
	<div class="py-5 text-center">
		<h2>Registration Form</h2>
		{% if error %}
		<p class="text-danger">
		{{ error }}
		</p>
		{% endif %}

	</div>

	<form action="/user/mykeys" method="POST">
		<div class="row">
			<div class="col-md-6 mb-3">
				<label for="firstName">First name</label>
				<input type="text" class="form-control" id="firstName" placeholder="" name="firstName" required>
			</div>
			<div class="col-md-6 mb-3">
				<label for="lastName">Last name</label>
				<input type="text" class="form-control" id="lastName" placeholder="" name="lastName" required>
			</div>
		</div>

		<div class="mb-3">
			<label for="username">MIS</label>
			<div class="input-group">
				<input type="text" class="form-control" id="username" placeholder="Username" name="username"required >
			</div>
		</div>

		<div class="mb-3">
			<label for="phoneno">Mobile No</label>
			<input type="text" class="form-control" id="phoneno" placeholder="0123456789" name="phoneno" required>
		</div>


		<div class="mb-3">
			<label for="email">Email </label>
			<input type="email" class="form-control" id="email" placeholder="you@example.com" name="email" required>
		</div>

		<hr class="mb-4">
		<button class="btn btn-primary btn-lg btn-block" type="submit" name="register" id="register">Register</button>
	</form>
</div>

<hr>
{% endblock %}
